# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Logs
*.log

# Vector DB
*.faiss
*.pkl

# Environment
.env.local
.env.productionx

venv/
.env
node_modules/
HF Token.txt