# Python
venv/
__pycache__/
*.pyc

# Secrets
.env
.env.*

# HuggingFace cache
.huggingface/
HF Token.txt

# FAISS
*.faiss

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log